<% if flash.notice.present? %>
  <div class="text-center">
    <%= content_tag(:div, flash.notice, class: "alert alert-success") %>
  </div>
<% end %>
<% if @profile.errors.any?%>
  <ul>
    <% @profile.errors.full_messages.each do |msg|%>
      <li class="text-danger"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

