<section>
    <div class="home-inner">
        <%= image_tag("shop.png") %>
    </div>
    <div class="caption">
        <h1 align="center">かんたん出品アプリ</h1>
        <h3 align="center">だれでもかんたんに出品して購入できるアプリです</h3>
    </div>
</section>