<footer class="bg-secondary text-light">
    <div class="container text-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Top</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        Copyright &copy;2019 me_clone
    </div>
</footer>